{% extends 'base.html'%}
{% block content %}
<div class="banner">
  <h1 class="slidein" id='bannerLogo'>ABOUT</h1>
</div>



<div id='aboutpic'class="container ">
  <img src="/static/bugtracker/media/1.jpg" alt="notfound">
</div>

<div class="container ">
  <div id='rightbox'class='col-lg-6 col-md-12 col-sm-12 float-lg-right float-md-right'>
    <h1 id='abouth1'><strong>About Bug Tracking System</strong></h1>
    <p></p>
    <h4 id="abouttext">The bug tracking system (also known as: ITS, trouble bug system, support bug, request managment or incident bug system) is a
    computer software package that manages and maintains lists of bugs, as needed by an organization, bug tracking systems are commonly used in an organizations customer support call center
  to create, update, and resolve reported customer bugs, or even bugs reported by that organzations other employees.
  A support bug should include vital information for the account involed and the bug encountered. This system also contains
  knowledge base containing information on each customer, resoultuions to common problems and other such data. Consisistent use of an bug tracking system is considered one of the "hallmarks of a good software
  team"</h4>
  </div>
</div>

{% endblock %}
