{% extends 'base.html' %}
{% block content %}

<div class="banner ">
  <h1 id='bannerLogo'>Contact Us</h1>
</div>


    <!--container start-->
    <div class="container">


      <div class="row">
        <div class="col-lg-5 col-sm-5 address">
          <section id='row1' class="contact-infos">
            <h4 class="title custom-font text-black">

              ADDRESS
            </h4>
            <address>
              32 Broadoaks Drive,
              Cambridge
              <br>
              Toronto, CA
              <br>
              N1T 2C3
            </address>
          </section>
          <section id='row2'class="contact-infos">
            <h4 class="title custom-font text-black">
              BUSINESS HOURS
            </h4>
            <p>
              Monday - Friday 8am to 4pm
              <br>
              Saturday - 7am to 6pm
              <br>
              Sunday- Closed
              <br>
            </p>
          </section>
          <section id='row3'class="contact-infos">
            <h4>
              TELEPHONE
            </h4>
            <p>
              <i class="icon-phone">
              </i>
              +1 519 212 2990
            </p>

            <p>
              <i class="icon-phone">
              </i>
              +088-01234567890
            </p>

          </section>
        </div>
        <div id='dropaline' class="col-lg-7 col-sm-7 address">
          <h4>
            Drop us a line so that we can hear from you!
          </h4>
          <div class="contact-form">
            <form role="form">
              <div class="form-group">
                <label for="name">
                  Name
                </label>
                <input type="text" placeholder="" id="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">
                  Email
                </label>
                <input type="text" placeholder="" id="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="phone">
                  Phone
                </label>
                <input type="text" id="phone" class="form-control">
              </div>
              <div class="form-group">
                <label for="phone">
                  Message
                </label>
                <textarea placeholder="" rows="5" class="form-control">
                </textarea>
              </div>
              <button class="btn btn-info" type="submit">
                Submit
              </button>
            </form>

          </div>
        </div>
      </div>

    </div>
    <p></p>
    <!--container end-->
  {%endblock%}
