{% extends 'base.html' %}
{% block content %}


<div class="main">
  <img id="main" src="/static/bugtracker/media/main.jpeg" alt="NotFound">
</div>
    <!-- Sequence Modern Slider -->

<div id='indextext'>
  <h1 ><strong><em><center>Welcome To Bug Tracking System</center></em></strong></h1>
</div>


<div class="row">
  <div class="column">
    <img id= "picshome" src="/static/bugtracker/media/1.jpg" alt="Notfound" style="width:100%;">
    <h4 id="welcomebanner">Bug Tracking System</h4>
    <p id='welcometext' class="col-lg-12 col-sm-12 col-xs-12">The bug tracking system (also known as: ITS, trouble bug system, support bug, request managment or incident bug system) is a
    computer software package that manages and maintains lists of bugs.</p>
  </div>
  <div class="column">
    <img  id= "picshome"src="/static/bugtracker/media/2.jpg" alt="NotFound" style="width:100%;">
    <h4 id="welcomebanner">User Management System</h4>
    <p id='welcometext' class="col-lg-12 col-sm-12 col-xs-12">The bug tracking system (also known as: ITS, trouble bug system, support bug, request managment or incident bug system) is a
    computer software package that manages and maintains lists of bugs.</p>
  </div>
  <div class="column" >
    <img id= "picshome" src="/static/bugtracker/media/3.png" alt="Notfound" style="width:90%;">
    <h4 id="welcomebanner">Bug Management System</h4>
    <p id='welcometext' class="col-lg-12 col-sm-12 col-xs-12">The bug tracking system (also known as: ITS, trouble bug system, support bug, request managment or incident bug system) is a
    computer software package that manages and maintains lists of bugs.</p>
  </div>
</div>

<div class="properties gray-bg">
  <div class="container2">
    <div class="row">
      <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
        <img src="/static/bugtracker/media/5.jpg" alt="notfound" ">
      </div>
      <div  class="col-lg-6 col-sm-6 wow fadeInRight">
        <h1>
          About Bug Tracking System
        </h1>
        <hr>
        <p>A bug element, within an bug tracking system, is a running report on a particular problem, its status, and other relevant data. They are commonly created in a help desk or call center environment and almost always have a unique reference number, also known as a case, bug or call log number which is used to allow the user or help staff to quickly locate, add to or communicate the status of the user's bug or request.</p>
        <p>
          These bugs are so called because of their origin as small cards within a traditional wall mounted work planning system when this kind of support started. Operators or staff receiving a call or query from a user would fill out a small card with the user's details and a brief summary of the request and place it into a position (usually the last) in a column of pending slots for an appropriate engineer, so determining the staff member who would deal with the query and the priority of the request.
          </p>
        <hr>
      </div>
    </div>
  </div>
</div>


{%endblock%}
