{% extends 'base.html' %}
{% block content %}

<div class="banner ">
  <h1 id='bannerLogo'>Contact Us</h1>
</div>


    <!--container start-->
    <div class="container">


      <div class="row">
        <div class="col-lg-5 col-sm-5 address">
          <section id='row1' class="contact-infos">
            <h4 class="title custom-font text-black">

              ADDRESS
            </h4>
            <address>
              300 Django Drive
              <br>
              Toronto, CA
              <br>
              N1T 2C3
            </address>
          </section>
          <section id='row2'class="contact-infos">
            <h4 class="title custom-font text-black">
              BUSINESS HOURS
            </h4>
            <p>
              Monday - Friday 8am to 4pm EST
              <br>
              Saturday / Sunday - 7am to 6pm EST
             
            </p>
          </section>
          <section id='row3'class="contact-infos">
            <h4>
              TELEPHONE
            </h4>
            <p>
              <i class="icon-phone">
              </i>
             
            </p>

            <p>
              <i class="icon-phone">
              </i>
              +088-01234567890
            </p>

          </section>
        </div>
        <div id='dropaline' class="col-lg-7 col-sm-7 address">
          <h4>
            Drop us a line so that we can hear from you!
          </h4>

          <form  class="addclass6" action="" method="POST">
            {% csrf_token %}
            {{contact}}
            <input type="submit" name="submit" onclick="return confirm('Message was sent! We will get back to you ASAP:)');">
          </form>

          </div>
        </div>
      </div>

    </div>
    <p></p>
    <!--container end-->
  {%endblock%}
